@model IEnumerable<Mvc.Data.Models.Photo>

@{
    ViewBag.Title = "Index";
}

@section js{
    <script src="~/scripts/ajax-createcomment.js"></script>
}

<h2>This is the landing page</h2>

<p>
    @Html.ActionLink("Create new image", "Create")
</p>

<div id="photosPanel">
    @{ Html.RenderPartial("_ListPhotos", Model);}
</div>
